<suite name="project name">

    <test name = "first set">
        <classes>
            <class name="testng.Demo.ClassOne"/>
            <class name="testng.Demo.ClassTwo"/>
        </classes>
    </test>

    <test name = "second set">
        <classes>
            <class name="testng.Demo.ClassThree"/>
        </classes>
    </test>

</suite>